@font-face {
  font-family: "Baloo Bhaina 2";
  src: url(Baloo_Bhaina_2/BalooBhaina2-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhaina 2";
}

html {
  scroll-behavior: smooth;
}

a,
.aboutbtn:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-bottom: 0px !important;
}

.about_container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../images/back2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 80px;
  vertical-align: middle;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 5px 0;
  margin: 0 auto;
}

.about_logo {
  width: 14%;
  float: left;
}

.about_logo img {
  width: 100%;
}

.about_nav ul {
  padding-top: 5px;
}

.about_nav ul li {
  float: left;
  padding: 0 15px;
}

.about_nav ul li a {
  background: -webkit-linear-gradient(#1ddbee, #5b4bf9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: 500;
}

.about_nav ul li a:hover {
  text-decoration: none;
}

/* hamburger menu */

.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.menu-btn__burger {
  width: 30px;
  height: 4px;
  background: #4bb9f9;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: #4bb9f9;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-10px);
}

.menu-btn__burger::after {
  transform: translateY(10px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(20px, -20px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(20px, 20px);
}


.welcome_content {
  position: relative;
  width: 44%;
  padding: 12% 0 0 10%;
  transition: all 2s ease-in-out;
  animation-name: content;
  animation-duration: 2s;
}

@keyframes content {
  from {
    left: -200px;
  }

  to {
    left: 0px;
  }
}

.welcome_content h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  background: -webkit-linear-gradient(#1ddbee, #5b4bf9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome_content p {
  font-size: 1rem;
  color: #747794;
}

.aboutbtn,
.content a {
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(to top left, #5b4bf9, #1bdeee) !important;
  border-radius: 6px;
  padding: 0.6rem 1.5rem;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 20px;
}

.services {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #f8f9fa;
}

.services_main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 70px 0;
}

.services_box {
  width: 28%;
  padding: 70px 20px;
  text-align: center;
  margin: 20px 0;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #dedfe0;
  box-shadow: 0 12px 30px rgba(47, 91, 234, .05);
  transition: all 0.8s ease-in-out;
}

.services_box h4 {
  color: #1C3665;
  padding: 15px 0;
}

.services_box p {
  color: #747794;
}

.services_box div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 2rem;
  border: 2px dashed #5b4bf9;
  color: #5b4bf9;
}

.services_box:hover {
  background-color: #5b4bf9;
  margin-bottom: 30px !important;
}

.services_box:hover p,
.services_box:hover h4,
.services_box:hover div {
  color: white;
}

.services_box:hover div {
  border: 2px dashed white;
}

/* hamburgermenu */

#hamburgermenu {
  width: 100%;
  height: 100vh;
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 70px;
  background-color: rgba(47, 91, 234, 0.6);
}

#hamburgermenu ul li {
  padding: 20px 0;
}

#hamburgermenu ul li a {
  color: white;
  font-weight: 600;
  font-size: 25px;
}

#hamburgermenu ul li a:hover {
  text-decoration: none;
}

.active {
  display: flex !important;
}

/*scrollbar style */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(111, 125, 172);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top left, #5b4bf9, #1bdeee);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top left, #1bdeee, #5b4bf9);
}

#works {
  width: 100%;
  height: auto;
  padding: 90px 0;
  position: relative;
  z-index: 0;
}

.content {
  margin: 0 auto;
  width: 80%;
}

.content h2 {
  font-size: 2.25rem;
  color: #1c3665;
  padding: 20px 0;
}

.content p {
  font-size: 1.3rem;
  color: #747794;
}

.owl-carousel {
  width: 80% !important;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0 0 0;
}

.owl-dots {
  display: none;
}

.owl-item {
  text-align: center;
  height: 250px;
  border-radius: 8px;
  border: 5px solid #5b4bf9;
}

.owl-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-nav button:focus {
  outline: none;
}

.owl-theme .owl-nav [class*=owl-] {
  background: none !important;
}

.owl-nav span {
  font-size: 70px;
  color: #5b4bf9;
  font-weight: 900;
}

.item {
  position: relative;
}

.item img {
  position: relative;
  width: 100%;
  height: 240px;
  filter: sepia(80%) hue-rotate(190deg) saturate(200%);
}

.item a {
  text-decoration: none;
  display: inline-flex;
  color: #fff;
  background-image: linear-gradient(to top left, #5b4bf9, #1bdeee) !important;
  border-radius: 6px;
  padding: 0.6rem 1.5rem;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 4;
}

footer {
  width: 100%;
  background-color: #0d0033;
  padding: 70px 0 0 0;
  color: #747794;
  font-size: 18px;
}

.container_foot {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px dashed #1C3665;
}

.foot_item {
  width: 25%;
}

.foot_item img {
  width: 200px;
}

.foot_item h3 {
  color: white;
  font-size: 1.5rem;
  padding-bottom: 30px;
}

.foot_item li {
  padding: 10px 0;
  transition: all 1s ease-out;
}

.foot_item li:hover {
  color: #1C3665;
}

.logoitem {
  padding: 0 40px 0 0;
}

.logoitem p {
  padding: 20px 0;
}

.foot_item input[type="email"] {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  margin-bottom: 20px;
  text-indent: 15px;
}

.foot_item input:focus,
textarea:focus {
  outline: none;
}

textarea {
  border: none;
  border-radius: 6px;
  width: 200px;
  height: 40px;
  padding-top: 12px;
  margin-bottom: 20px;
  text-indent: 15px;
}

.foot_item input[type="submit"] {
  display: flex;
  color: #fff;
  background-image: linear-gradient(to top left, #5b4bf9, #1bdeee) !important;
  border-radius: 6px;
  padding: 0.6rem 1.5rem;
  font-size: 17px;
  border: none;
}

.follow {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.middle a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 50%;
  color: #5b4bf9;
  overflow: hidden;
  position: relative;
}

.middle ul li {
  float: left;
}

.middle a i {
  line-height: 50px;
  font-size: 22px;
  transition: 0.2s linear;
}

.middle a:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.middle a::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #5b4bf9;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.middle a:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }

  50% {
    left: 10%;
    top: -30%;
  }

  100% {
    top: -10%;
    left: -10%;
  }
}
